@page "/Clientes"
@using Modelos;

<AuthorizeView Roles="Administrador">
	<Authorized Context="AuthenticationState">
		<h3>Lista de Clientes</h3>

		<div class="form-group row">
			<div class="col-sm=2">
				<a href="/Clientes/Nuevo" class="btn btn-primary m-3">Nuevo Cliente</a>
			</div>
		</div>

		@if (listaClientes == null)
		{
			<p>No existen productos en la base de datos</p>
		}
		else
		{
			<table class="table">
				<thead>
					<tr>
						<th>Identidad</th>
						<th>Nombre</th>
						<th>Dirección</th>
						<th>FechaNacimiento</th>
						<th>Correo</th>
						<th>Teléfono</th>

					</tr>
				</thead>
				<tbody>
					@foreach (Cliente prod in listaClientes)
					{
						<tr>
							<th>@prod.Identidad</th>
							<th>@prod.Nombre</th>
							<th>@prod.Direccion</th>
							<th>@prod.FechaNacimiento</th>
							<th>@prod.Correo</th>
							<th>@prod.Telefono</th>
							
							<th><a class="btn btn-success" href="@($"/Cliente/Editar/{prod.Identidad}")">Editar</a></th>
						</tr>

					}
				</tbody>
			</table>
		}

	</Authorized>
</AuthorizeView>
